################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExpenseTracker/.vs/ExpenseTracker/v16
/ExpenseTracker/ExpenseTracker/obj
